/*SearchPage start*/
.searchPageWrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchPageWrap>div:nth-of-type(1){
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchP{
  text-shadow: -1px 0px #337eb687, 1px 3px #408fcb87, 1px 0px #408fcb87, 2px 3px #408fcb87;
  color: #fff;
  font-size: 3.7rem;
  font-family: 'NeoDunggeunmo';
}
/*SearchPage end*/

/*SearchZone start*/
.searchZoneWrap{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.searchZoneInput{
  text-align: left;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 3rem;
  font-family: 'NeoDunggeunmo';
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-top: 8rem;
  box-shadow: 2px 2px 0px rgb(62 89 194 / 20%), inset 1px 2px 0px rgb(0 0 0 / 7%);
}
.matchCityWrap{
  border-radius: 2rem;
  margin-top: 1rem;
  width: 100%;
  max-height: 19rem;
  background: #0000003c;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.matchCityWrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#selectCity{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cityLi{
  width: 82%;
  padding: 9px 0px 9px 0px;
  /* margin: 1rem 0 1rem 0; */
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cityP{
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: 'NeoDunggeunmo';
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.spanStyle{
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  /* border-left: 5px solid rgb(255, 255, 255); */
  border-right: 7px solid transparent;
}

/*SearchZone end*/
.backgroundLi{
  background: #fff;
}